<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <!-- Seeds of Impact -->
                    <li>
                        <div class="timeline-image">
                            <img class="seedling-icon" src="img\about\seedling.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013</h4>
                                <h4 class="subheading">Seeds of Impact</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Inspired by Paul Polak's <i>The Business Solution to Poverty</i>, I began to see design as a powerful tool for solving systemic issues. This belief shaped my decision to pursue work that combines practicality, creativity, and social good.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Designing for Impact in Mozambique -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img\about\mozambique-flag.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013-2015</h4>
                                <h4 class="subheading">Designing for Impact in Mozambique</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As a Peace Corps volunteer in Mozambique, I implemented drip irrigation systems that improved food security and empowered communities to sustain themselves. This experience reinforced the transformative power of low-cost, human-centered design and deepened my understanding of collaboration, systems thinking, and resource constraints.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Navigating Systems and Markets in Dubai -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img\about\burj al arab.svg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016</h4>
                                <h4 class="subheading">Navigating Systems and Markets in Dubai</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At Bloomberg in Dubai, I worked to expand foreign exchange and bond markets across Africa while consulting on sustainable agriculture projects. Navigating corruption, inefficiencies, and systemic barriers taught me the importance of transparency and clear systems in driving meaningful progress.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Streamlining Systems at Bloomberg -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img\about\new-york.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016-2021</h4>
                                <h4 class="subheading">Streamlining Systems at Bloomberg</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In New York, I took on the challenge of building Bloomberg's analytics infrastructure, tackling legacy systems that had become bottlenecks for efficiency. Working with cross-functional teams, I identified pain points, optimized data pipelines, and implemented scalable solutions. This transformation not only streamlined workflows but empowered global teams to access and act on clear, actionable insights—reinforcing my belief in the power of systems to drive progress.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Driving Transparency and Innovation at VTS -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img\about\commercial-buildings.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2021-2023</h4>
                                <h4 class="subheading">Driving Transparency and Innovation at VTS</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At VTS, I built tools and frameworks that reduced complexity and drove transparency across the organization. Leveraging tools like DBT and Miro, I enabled teams to better understand, trust, and act on their data. This work solidified my belief in creating systems that empower people to see, understand, and drive impact.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Exploring AI, Systems, and Design -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-small" src="img\about\ai.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2024</h4>
                                <h4 class="subheading">Exploring AI, Systems, and Design</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In 2024, I embarked on a sabbatical to reflect, explore, and reconnect with the core of my work. Traveling across Latin America, I immersed myself in new cultures and perspectives, deepening my understanding of systems at human and societal levels. During this time, I began exploring the intersection of AI, systems thinking, and design—experimenting with graph-based applications and tools to simplify and understand complex systems. This period reinforced my commitment to clarity, empowerment, and meaningful impact.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
