<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">My journey from systems thinking to impactful design.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <!-- Education/Foundation -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2013</h4>
                                <h4 class="subheading">Building a Foundation</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At Mercer University, I developed a strong foundation in chemistry and biology, fueled by a passion for solving real-world problems. Paul Polak's 'The Business Solution to Poverty' planted the seed for my interest in design as a tool for change.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Peace Corps -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2013-2015</h4>
                                <h4 class="subheading">Designing Solutions in Mozambique</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As a Peace Corps volunteer, I implemented drip irrigation systems, improving food security and empowering communities. This hands-on work highlighted the importance of design, collaboration, and systemic thinking.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Bloomberg Dubai -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016</h4>
                                <h4 class="subheading">Navigating Complexity in Dubai</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At Bloomberg in Dubai, I helped expand foreign exchange and bond markets in Africa while consulting on sustainable agriculture projects. I learned to navigate corruption, complexity, and the challenges of systemic inefficiencies.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Bloomberg NY and VTS -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016-2023</h4>
                                <h4 class="subheading">Building Systems and Driving Transparency</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">In New York, I built data analytics infrastructure at Bloomberg and later at VTS, leveraging tools like DBT and Miro to reduce complexity and drive transparency in complex systems.</p>
                            </div>
                        </div>
                    </li>

                    <!-- Talk about my sabbatical? -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4> Add something here</h4>
                        </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
