  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-muted small">
                        Icons by: 
                        <a href="https://creazilla.com/media/emoji/58529/seedling" title="plant icons">Seedling emoji by Google/Noto Color Emoji on Creazilla</a>,
                        <a href="https://creazilla.com/media/emoji/61996/mozambique-flag" title="Mozambique flag">Mozambique flag emoji by JoyPixels on Creazilla</a>,
                        <a href="https://www.shareicon.net/building-dubai-emirates-monument-landmark-monuments-architectonic-burj-al-arab-810100" title="Burj Al Arab">Burj Al Arab icon from ShareIcon</a>,
                        <a href="https://www.flaticon.com/free-icons/manhattan" title="manhattan icons">Manhattan icons created by Chanut-is-Industries - Flaticon</a>,
                        <a href="https://www.flaticon.com/free-icons/residential" title="residential icons">Residential icons created by Flat Icons - Flaticon</a>
                    </p>
                    <p class="text-muted small">This website does not collect any personal information.</p>
                </div>
            </div>
        </div>
    </footer>
