<!-- Portfolio Modals -->
{% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog">
        <div class="modal-content" role="document">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Wait for all scripts to be loaded
            window.addEventListener('load', function() {
                // Store the default section
                let defaultSection = '#portfolio';
                let $modal = $('#portfolioModal{{ post.modal-id }}');

                // Handle modal state changes
                $modal
                    .on('show.bs.modal', function () {
                        window.history.pushState({modal: true}, '', '#portfolioModal{{ post.modal-id }}');
                        $(this).removeAttr('aria-hidden');
                    })
                    .on('hidden.bs.modal', function () {
                        window.history.pushState({modal: false}, '', defaultSection);
                        // Ensure focus is returned to the trigger element
                        $('.portfolio-link[href="#portfolioModal{{ post.modal-id }}"]').focus();
                    });

                // Handle browser back button
                $(window).on('popstate', function(event) {
                    if ($modal.is(':visible')) {
                        $modal.modal('hide');
                    }
                    if (!window.location.hash || 
                        window.location.hash === '#team' || 
                        window.location.hash === '#services' ||
                        window.location.pathname === '/') {
                        window.history.replaceState(null, '', defaultSection);
                    }
                });

                // Additional check on page load
                if (!window.location.hash) {
                    window.history.replaceState(null, '', defaultSection);
                }
            });
        </script>
    </div>
{% endfor %}
