<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Understanding Complexity, Creating Simplicity.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analysis</h4>
                    <p class="text-muted">Bringing ideas to life through data, design, and storytelling. Skilled in transforming complex systems into clear solutions with tools like SQL, Python, and visualization platforms.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Crafting user-centric designs that blend form and function. Experienced in CAD tools, additive manufacturing, and visual storytelling to bring ideas to life.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Make</h4>
                    <p class="text-muted">Transforming ideas into tangible solutions. Skilled in prototyping, advanced manufacturing, and building tools that empower change.</p>
                </div>
            </div>
        </div>
    </section>