<!-- Skills Section -->
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <h3 class="section-subheading text-muted">Turning data, design, and systems into tools for impact.</h3>
            </div>
        </div>
        <div class="row text-center">
            <!-- Analyze -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Analyze</h4>
                <p class="text-muted">
                    I transform raw data into actionable insights from a wide variety of sources, including financial, commercial real estate, law enforcement, and urban infrastructure metrics, using tools like Excel, SQL, Python, and Looker.
                </p>
            </div>
            <!-- Design -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Design</h4>
                <p class="text-muted">
                    I practice human-centered design, conducting in-depth user interviews to uncover needs and insights. Using visual diagramming tools such as Miro and Visio, I map and clarify complex systems. Leveraging CAD tools like Rhino and SketchUp, I create prototypes to bring ideas to life and organize spaces with precision and clarity.
                </p>
            </div>
            <!-- Build -->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Build</h4>
                <p class="text-muted">
                    I rapidly prototype across both physical and digital spaces, transforming concepts into tangible solutions through iterative experimentation. My work extends into analytics engineering, where I streamline data workflows and develop metrics to measure success.
                </p>
            </div>
        </div>
    </div>
</section>
